div.advfrm-mailform td.label {
    vertical-align: top;
    padding-right: 1em;
    /* the following aligns the labels to the right */
    /*text-align: right;*/
}


/* END OF MAIL CSS */


div.advfrm-mailform {}

div.advfrm-mailform table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

div.advfrm-mailform tr.hidden {
    display: none;
}

div.advfrm-mailform td.label {padding-bottom: 0.3em}
div.advfrm-mailform td.field {padding-bottom: 0.3em}

div.advfrm-mailform td.field div.horz {
    float:left;
    margin-right: 1em;
}

div.advfrm-mailform td.field div.vert {}

div.advfrm-mailform div.required {
    margin: 1em 0;
}

/* error messages when filling out a form */
ul.advfrm-error {
    /*color: black;*/
    /*background: yellow;*/
    /*border: 2px solid black;*/
    /*padding: 0.5em;*/
}

/* the simple text captcha */
div.advfrm-mailform span.captcha-explanation {
    display: block;
    margin-bottom: 1em;
}

div.advfrm-mailform span.captcha {
    padding: 0 0.5em;
}

/* the submit and reset button */
div.advfrm-mailform div.buttons {
    margin-top: 1em;
}


/*
 * Back-end
 */

#advfrm-form-list {
    overflow: auto;
}

#advfrm-form-list a:link img,
#advfrm-form-list a:visited img {
    border: 0;
}

#advfrm-form-list form {
    display: inline-block;
}
#advfrm-form-list button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

#advfrm-form-list table {
    margin: 10px 0;
}

#advfrm-form-list a img {
    margin-right: 4px;
}

#advfrm-form-list td.name {
    padding: 0 10px;
}

#advfrm-form-list td.script {
    /*padding-left: 20px;*/
    font-size: xx-small;
    font-family: monospace;
}

#advfrm-editor {
    overflow: auto;
}

#advfrm-editor div.toolbar {
    margin: 10px 0;
}

#advfrm-editor div.toolbar a {
    padding: 5px;
}

#advfrm-editor a:hover {
    background: none;
    cursor: pointer;
}

#advfrm-form,
#advfrm-fields {
    margin: 10px 0;
}

#advfrm-select-props {
    overflow: auto;
    max-height: 300px;
}

#advfrm-text-props td {
    vertical-align: top;
}

#advfrm-editor tr.selected .highlightable,
#advfrm-prop-fields tr.selected .highlightable {
    background: navy;
    color:white;
}

img.advancedform_plugin_icon {display: block; float: left; margin: -10px 10px 10px 0}
p.advancedform_license {clear: both; text-align: justify}
