parameters:
  level: 6
  paths:
    - classes/
    - tests/
    - admin.php
    - captcha.php
    - index.php
  bootstrapFiles:
    - constants.php
  scanFiles:
    - ../../cmsimple/classes/CSRFProtection.php
    - ../../cmsimple/classes/Pages.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
    - ../../cmsimple/utf8.php
    - ../jquery/jquery.inc.php
    - phpmailer/PHPMailer.php
    - hooks.stub.php
  scanDirectories:
    - vendor/
    - ../plib/classes
  typeAliases:
    FormArray: 'array{captcha:bool,name:string,title:string,to_name:string,to:string,cc:string,bcc:string,thanks_page:string,store:bool,fields:array<FieldArray>}'
    FieldArray: 'array{field:string,label:string,type:string,props:string,required:bool}'
